<nav class="navbar bg-dark text-white nav-header">
  <nav class="navbar bg- text-white">
    <div class="container">
      <img routerLink="/products" src="../../../assets/logo.png" id="logo" />
      <ul #navLinks class="nav-links d-flex m-0">
        <li (click)="hideToggle()" class="hide-toggle">
          <mat-icon>close</mat-icon>
        </li>
        <li><a class="nav-link" routerLink="/products" routerLinkActive="active">Home</a></li>
        <!-- <li class="nav-link"><a routerLink="/" routerLinkActive="active">Contact us</a></li> -->
        <li *ngIf="!authService.isAdmin">
          <a [matBadgeHidden]="totalItem ===0" [matBadge]="totalItem" matBadgeColor="warn" class="nav-link"
            routerLink="/cart" routerLinkActive="active">Cart</a>
        </li>
        <ng-container *ngIf="authService.isAdmin">
          <li>
            <a class="nav-link" routerLink="/admin/cart" routerLinkActive="active">Cart</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/admin/user" routerLinkActive="active">User</a>
          </li>
        </ng-container>

        <li *ngIf="!isLogin">
          <a class="nav-link" routerLink="/signin" routerLinkActive="active">Sign in</a>
        </li>
        <ng-container *ngIf="isLogin">
          <li>
            <a class="nav-link" routerLink="/user">
              <mat-icon>account_circle</mat-icon>
            </a>
          </li>
          <li> <a class="nav-link" (click)="signOut()"> Sign out </a> </li>
        </ng-container>
      </ul>
      <div (click)="toggleMenu()" class="menu-toggle">
        <i class="d-sm-block d-sm-none gg-menu-right"></i>
        <mat-icon>menu open</mat-icon>
      </div>
    </div>
  </nav>
</nav>
