.bg-codeblocks {
  position: absolute;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  position: fixed;
  height: 100vh;
}

.main-box-codeblocks {
  background-color: #fafafa;
  border-radius: 20px;
  padding: 5em 2em;
  width: 90%;
  height: auto;
  position: relative;
  display: block;
  box-shadow: 0 0px 20px 2px rgba(0, 0, 0, 0.5);
  margin: 3em auto;
}

/* Swiper Slider */
.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.row {
  margin: 0 10%;
}

.img-fluid {
  // width: 80%;
  // display: block;
  // margin: 0 auto;
  max-height: 60vh;
}

.sale {
  position: relative;
  color: rgb(219, 78, 78);
  &::after {
    content: "";
    width: 100%;
    border-bottom: 1px solid rgb(219, 78, 78);
    position: absolute;
    top: 50%;
    left: 0;
  }
}
.star {
  display: flex;
}

.functbtn {
  margin-top: 1em;
  button {
    &:first-child {
      margin-right: 1em;
    }
  }
}
