<ng-container *ngIf="users?.length != 0">
  <div class="container">
    <div class="row">
      <table mat-table [dataSource]="users" class="mat-elevation-z8">
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let user"> <span [matTooltip]="user._id"> {{ user.email }}</span> </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let user">{{ user.role }}</td>
        </ng-container>

        <ng-container matColumnDef="totalBuy">
          <th mat-header-cell *matHeaderCellDef>Total Buy</th>
          <td mat-cell *matCellDef="let user">{{ user.totalBuy }}</td>
        </ng-container>

        <ng-container matColumnDef="memberShip">
          <th mat-header-cell *matHeaderCellDef>Member Ship</th>
          <td mat-cell *matCellDef="let user">{{ user.memberShip }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let user">{{user.name}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Phone Num.</th>
          <td mat-cell *matCellDef="let user"> {{ user.phone  }} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let user">
            <mat-icon *ngIf="user.role === 'user'&&authService.user?.role ==='sys-admin'" (click)="approveUser(user)">
              how_to_reg</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</ng-container>


<div *ngIf="users?.length !== 0; else elseBlock">
</div>
<ng-template #elseBlock>
  <div class="col-12">
    <h1 class="no-content">No item found.</h1>
  </div>
</ng-template>
